//

.lk-content {
  a {
    color: $tC;
  }
}

.lk-edit-this {
  &:hover {
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 0 5px #fff, 0 0 0 7px rgba($pC, 0.66);

    &:before {
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' aria-hidden='true' focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffc240' d='M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z'%3E%3C/path%3E%3C/svg%3E");
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0;
      z-index: 100;
    }
  }
}

@mixin lk_btns {
  border: 2px solid $pC;
  background: $pC;
  min-width: 200px;
  min-height: 54px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $hC;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  outline: none !important;
  transition-property: background, color, border, box-shadow;
  transition-duration: 266ms;

  margin-bottom: 4px;

  &.w-auto {
    min-width: auto;
    width: auto;
  }
  &.no-margin {
    margin: 0;
  }
  &.fw {
    width: 100%;
  }
  &.white {
    background: #fff;
  }
  &:hover {
    background-color: rgba($pC, 0.55);
  }
  &:focus {
    box-shadow: 0 0 0 3px rgba($pC, 0.38);
  }
}

input[type="button"],
input[type="submit"] {
  @include lk_btns;
}
.lk-btn {
  @include lk_btns;

  &-group {
    max-width: 100%;
    display: inline-flex;

    > .lk-btn {
      border-radius: 0;
      &:first-child {
        border-right-width: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:last-child {
        border-left-width: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
    &.column {
      flex-direction: column;
      // flex-wrap: wrap;
      > .lk-btn {
        margin-bottom: 0;
        border-radius: 0;
        &:first-child {
          border-right-width: 2px;
          border-bottom-width: 0;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        &:last-child {
          border-left-width: 2px;
          border-top-width: 0;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }
  }
}

.lk-text {
  padding: 1px 10px 0;
  line-height: 37px;
  font-family: sans-serif;
  outline: none !important;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 8px;
  &:focus {
    border-color: $pC;
    box-shadow: 0 0 0 3px rgba($pC, 0.38);
  }
  &:disabled {
    background-color: #fff;
    cursor: not-allowed;
  }
}

.lk-slider {
  position: relative;
  padding: 10px;
  * {
    outline: none !important;
  }
  .noUi-target {
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  .noUi-connects {
    height: 3px;
    background-color: #ececec;
    position: relative;
    top: 5px;
  }
  .noUi-horizontal {
    height: 14px;
  }
  .noUi-tooltip {
    bottom: 130%;
  }
  .noUi-handle {
    cursor: grab;
    width: 24px;
    height: 24px;
    border-color: $pC;
    background-color: $pC;
    border-radius: 50px;
    box-shadow: none;
    transition-property: background, color, border, box-shadow;
    transition-duration: 266ms;
    &:before,
    &:after {
      display: none;
    }
    &:focus {
      box-shadow: 0 0 0 3px rgba($pC, 0.38);
    }
  }

  &--lines {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 10px;
    width: calc(100% - 10px * 2);
    height: 100%;
    > div {
      display: flex;
      position: absolute;
      top: 2px;
      left: 0;
      width: 3px;
      height: calc(100% - 4px);
      background-color: #ececec;
    }
  }
}

.lk-star-rating {
  --star-size: 36px;
  --star-color: #{$grayC};
  --star-background: #{$pC};
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.2rem 0;

  .r-stars {
    --rating: 0;
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; // make sure ★ appears correctly
    line-height: 1;
    &::before {
      content: "★★★★★";
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-num {
      display: inline-block;
      margin-top: 4px;
      line-height: 26px;
      margin-left: 10px;
      color: #707070;
    }
  }
}

.lk-tags {
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &--item {
    display: block;
    background: #ececec;
    border-radius: 5px;
    padding: 1px 6px;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.lk-modal {
  &--container {
    display: none;
    border: 1px solid #707070;
    border-radius: 10px;
    padding: 30px 35px 35px;
  }

  &--header-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #707070;
    margin-bottom: 20px;
  }
}
